/*
* { border: 1px red dotted; }
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);


body{
   
background-image: url("./img/bg-body.png");
padding: 60px 0px 0px 0px;
    z-index:0;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;

}
.row-content {
    margin: 0px auto;
    padding: 15px 0px 15px 0px;
    min-height: 400px; 
}
.navbar-dark {
    background-color:#241b18;
    color: #33FF83;
    padding:10px;
}
.nav-brand,.navbar-brand {
    color: #33FF83 !important;
}
.nav-brand:hover{
    color: #28a745 !important;
}
.nav-link,.navbar-brand {
    color: #33FF83 !important;
}
.nav-link:hover{
    color: #28a745 !important;
}
.navbar-dark .fa-bars{
    color:#33FF83;

}

.navbar-dark .navbar-collapse{
    margin:0px  0px 0px 0px;
}
.btn-sign-in{
  background-color: aquamarine;  
}
.carousel {
    background: #241b18;
    margin: 0px auto;
    border: 1px solid #ffffff; 
}

.mycard{
    margin: 10px auto;
    border: solid #33FF83;
    background-color: #33FF83;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
    
  }

.photo {
    background-color:#33FF83;
   width: 100%;
   height:250px;
   ;
}

.bodycard {

    background-color: #241b18;
    color:#ffc947;
    opacity: 0.95;
   
}

.card-title{
    font-size:20px;
    color: #33FF83;
    text-shadow: 1px 1px #28a745
}

.card-text{
    color:#ffffff;
} 
.font{
    color: whitesmoke;
    position:relative;
}
h6 {
	font-family: 'Bree Serif', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px
}
.heading-font, .navbar-default .navbar-brand, .navbar-default .nav li a {
    font-family: 'Bree Serif', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    color:white;
}
.theme-accent-color{
    color: #33FF83 !important;
    }
.mb50 {
    margin-bottom: 50px;
    display: block;
}
.mb100 {
    margin-bottom: 100px;
}
section h2.section-heading, .section-heading {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 48px;
    letter-spacing: 2px;
    font-weight: 700;
    color:whitesmoke;   
}
section h3.section-subheading {
    text-transform: lowercase;
    font-size: 30px;
    font-weight: 300;
    clear: both;
    display: block;
    padding-top: 20px;
    letter-spacing: 1px;
    color: whitesmoke;
}
.secondary-font {
    font-family: 'Covered By Your Grace', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
}
.thin-hr {
    margin: 30px 0 40px;
    width: 100%;
    clear: both;
    display: block;
    position: relative;
    border: none;
}
h3,p{
    color:whitesmoke;
}

.text-uppercase {
    text-transform: uppercase;
}
.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 100%;
}
.nav.nav-justified > li > a {
    position: relative;
}
    .icon-tabs .fa-4x {
          font-size: 46px;
    }
    .icon-tabs li .tabtitle {
        font-size: 32px;
        letter-spacing: 4px
    }
    .dark-wrapper .icon-tabs li {
        border-right: none;
    }
    .nav-justified>li {
        width: 50%;
        float: left;
        word-wrap: break-word;
     }
.mb30 {
    margin-bottom: 30px;
    display: block;
    color:whitesmoke;
}
#contact-tabs .tabtitle {
    margin-top: 0;
}
.lead {
  font-size: 18px;
  line-height: 32px;
}